.Quiz__option {
  display: block;
  position: relative;
  transition: background-color .3s;
}

.Quiz__option label {
  cursor: pointer;
  display: block;
  height: 100%;
  padding: 1.5rem;
  width: 100%;
}

.Quiz__option input[type="radio"] {
  display: none;
}

.Quiz__option span.custom-radio {
  background-color: white;
  border: 1px solid var(--dark-gray);
  border-radius:  50%;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin-right: 55px;
  position: relative;
  transition: all .2s;
  vertical-align: middle;
  width: 20px;
}

.Quiz__option span.custom-radio-inner {
  background-color: transparent;
  border-radius:  50%;
  cursor: pointer;
  display: inline-block;
  height: 10px;
  left: 50%;
  position: absolute;
  transition: all .2s;
  vertical-align: middle;
  width: 10px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.Quiz__option input:checked + label span.custom-radio-inner{
  background-color: var(--dark-gray);
  transition: all .2s;
}

.Quiz__option:not(.submitted):hover, .Quiz__option.selected {
  background-color: var(--light-gray);
  cursor: pointer;
  transition: background-color .3s;
}

.Quiz__option .underline {
  background-color: transparent;
  height: 3px;
  left: 0;
  position: absolute;
  right: 100%;
  transition: all .2s;
}

.Quiz__option.selected.submitted .underline {
  right: 0;
  transition: all .3s;
}

.Quiz__option.selected.submitted.correct .underline {
  background-color: var(--success);
  transition: all .3s;
}

.Quiz__option.selected.submitted.incorrect .underline {
  background-color: var(--failure);
  transition: all .3s;
}

.Quiz__option .status-icon {
  font-size: 14px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}