.Block {
  background: #efefef;
  padding-bottom: 30px;
  padding-top: 30px;
}

.Block__container {
  padding-left: 5vw;
  padding-right: 5vw;
}

@media (min-width: 62em) {
  .Block {
    padding: 3rem;
  }

  .Block__container {
    max-width: 47.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}