.Quiz {
  background: white;
  box-shadow: 0 0.4rem 1.2rem 0.2rem rgba(0,0,0,.05);
  padding: 3.500rem 2rem 5rem 2rem;
}

.Quiz__title {
  display: inline-block;
  font-family: var(--serif-font);
  font-size: 1.10em;
  margin-bottom: 25px;
}

.Quiz__options {
  border-top: 1px solid var(--light-gray-alt);
  font-family: var(--sans-font);
  margin: 1.5rem 0 3rem;
}

.Quiz__option {
  display: block;
  position: relative;
  transition: background-color .3s;
}

.Quiz__option label {
  cursor: pointer;
  display: block;
  height: 100%;
  padding: 1.5rem;
  width: 100%;
}

.Quiz__option input[type="radio"] {
  display: none;
}

.Quiz__option span.custom-radio {
  background-color: white;
  border: 1px solid var(--dark-gray);
  border-radius:  50%;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin-right: 55px;
  position: relative;
  transition: all .2s;
  vertical-align: middle;
  width: 20px;
}

.Quiz__option span.custom-radio-inner {
  background-color: transparent;
  border-radius:  50%;
  cursor: pointer;
  display: inline-block;
  height: 10px;
  left: 50%;
  position: absolute;
  transition: all .2s;
  vertical-align: middle;
  width: 10px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.Quiz__option input:checked + label span.custom-radio-inner{
  background-color: var(--dark-gray);
  transition: all .2s;
}

.Quiz__option:not(.submitted):hover, .Quiz__option.selected {
  background-color: var(--light-gray);
  cursor: pointer;
  transition: background-color .3s;
}

.Quiz__option .underline {
  background-color: transparent;
  height: 3px;
  left: 0;
  position: absolute;
  right: 100%;
  transition: all .2s;
}

.Quiz__option.selected.submitted .underline {
  right: 0;
  transition: all .3s;
}

.Quiz__option.selected.submitted.correct .underline {
  background-color: #27ae60;
  transition: all .3s;
}

.Quiz__option.selected.submitted.incorrect .underline {
  background-color: #e74c3c;
  transition: all .3s;
}

.Quiz__option .status-icon {
  font-size: 14px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.Quiz__submit {
  background-color: var(--dark-gray);
  border-radius: 2rem;
  color: white;
  display: block;
  font-family: var(--sans-font);
  font-size: .75em;
  font-weight: bold;
  height: 3.5em;
  letter-spacing: .04em;
  margin: 0 auto;
  max-width: 11rem;
  text-transform: uppercase;
  transition: all .2s;
  width: 100%;
}

.Quiz__submit:disabled {
  background-color: silver;
  transition: background-color .2s;
}

.Quiz__submit:not(:disabled):hover {
  cursor: pointer;
  opacity: .8;
  transition: opacity .2;
}

.Quiz__success-message {
  color: var(--dark-gray);
  font-family: var(--serif-font);
  text-align: center;
}

.Quiz__success-message .icon-container {
  border: 1px solid var(--med-gray);
  border-radius: 50%;
  height: 50px;
  margin: 0 auto;
  position: relative;
  width: 50px;
}

.Quiz__success-message .icon-container .fa {
  color: var(--med-gray) !important;
  font-size: 32px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

button.try-again {
  background-color: transparent;
  border: none;
  color: var(--dark-gray);
  display: block;
  font-family: var(--sans-font);
  font-size: .80em;
  letter-spacing: -.04rem;
  margin: 0 auto;
  margin-top: 40px;
  text-transform: uppercase;
}

button.try-again:hover {
  cursor: pointer;
}